* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    overflow-x: hidden;
    color: #353244;
    font-weight: bold;
}

/*section donde va el header*/

.section_header {
    position: relative;
    height: 10vh;
    justify-content: center;
    display: grid;

    border: 1px solid #c5c5c5;
   
    grid-template-columns: repeat(auto-fill, 100%);
}

.section_header ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    
    display: grid;
    /*height: 80vh;*/
    display: flex;
}

.section_header li {
    /*font-size: 3vw;*/
    /*margin: 25px; */
    margin: calc(1em + 1vw);
}

.section_header ul a {
    text-decoration: none;
    display: grid;
    font-size: calc(1rem + 1vw);
   justify-content: center;
    color: #353244;
}


.section_header a.active {
    color: #ce198a;
}

.section_header a:hover {
    color: #ce198a;
}



/*section donde va la img*/

.img_ellie{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    color:#323243;
   text-decoration: none;



}  
hr{
    margin-top: -10em;
    background:#c5c5c59e;
    width: 100%;
    height: 0,0px;
    color:#c5c5c59e;
}

.ellie_letra {
    position: relative;
    font-size: calc(1em + 1vw);
    left: 110px;
    top: -90px;
    display: grid;

}
.ellie_letra, figure img  {
  
    width: 6em;
    height: 6rem;
    padding: 10px;
    /*border-bottom: 1px solid #B6B6B6;*/

    /*border: 1px solid red;*/


}

.videos{
    position:relative;
    top: -170px;
    left: 120px;
    color: #5e5c67;
    font-size: 1em;
    display: grid;
    
    

}

.icon{
    position: relative;
    font-size: calc(1em + 1vw);
    top:-200px;
    color:#ce198a;
    margin-left: 80%;
}

/*.container article{
    position: absolute;
    display:none;
}*/


.top_playlists{
    display: none;
    /*position: absolute;*/
    border: 1px solid red;
    padding: 10px;
}

.top_artists{
    padding: 10px;
     border: 1px solid red;
    display: none;
}

.top_videos{
     border: 1px solid red;
     width: 100%;
     padding: 20px;
    /*display: none;*/
}

