*{
	margin:0px;
	padding: 0px;
	

}

body{
font-family: 'Ropa Sans', sans-serif;
	overflow-x:hidden;
	color:#353244;
	font-weight: bold;
}

/*section donde va el header*/
.section_header{
	position: relative;
	height: 10vh;
	width: 100vw;
	display: grid;
	border: 1px solid #ccc;
	grid-template-columns: repeat(auto-fill, 100%);
}
.section_header ul {
	list-style: none;
	justify-content: center;
	display: grid;
    height: 80vh;
	display: flex;
	
}

.section_header a.active{
	color: #ce198a;
}
.section_header a:hover{
	color: #ce198a;
}

.section_header ul a{
	text-decoration: none;
	display: grid;
	font-size: calc(1rem + 1.2vw);
	color: #353244;
	
	
}

.section_header  li {
	margin: calc(1em + 1vw) ;
}


#artists{
	padding: 10px;
	
}