* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    overflow-x: hidden;
    color: #353244;
    font-weight: bold;
}

/*section donde va el header*/

.section_header {
    position: relative;
    height: 10vh;
    width: 100vw;
    display: grid;

    border: 1px solid #ccc;
    /*grid-template-columns: repeat(auto-fill, 100%);*/
}

.section_header ul {
    list-style: none;
    justify-content: center;
    display: grid;
    height: 80vh;
    display: flex;
}

.section_header a.active {
    color: #ce198a;
}

.section_header a:hover {
    color: #ce198a;
}

.section_header ul a {
    text-decoration: none;
    display: grid;
    font-size: calc(1rem + 1.2vw);
    /*font-size: 1em;*/
    color: #353244;
}

.section_header li {
    /*font-size: 3vw;*/
    /*margin: 25px; */
    margin: calc(1em + 1vw);
}

/*section donde va la img*/

.img_ellie{
    display: grid;
    grid-template-columns: repeat(20px 30px 100px);
    color:#323243;
   text-decoration: none;

}  
hr{
    margin-top: -10em;
    font-size: 0,1;
}

.ellie_letra {
    position: relative;
    font-size: calc(1em + 1vw);
    left: 110px;
    top: -90px;
    display: grid;

}
.ellie_letra, figure img  {
  
    width: 6em;
    height: 6rem;
    padding: 10px;
    /*border: 1px solid red;*/


}

.videos{
    position:relative;
    top: -170px;
    left: 120px;
    color: #5e5c67;
    font-size: 1em;
    display: grid;
    
    

}

.icon{
    position: relative;
    font-size: calc(1em + 1vw);
    top:-200px;
    color:#ce198a;
    margin-left: 80%;
}




#artists {
    padding: 10px;
}

#playlists{
    display: none;
}

#videos{
    display: none;
}



